
ion-content {
    --background: url(../../assets/fundo.png) no-repeat center/cover ;
  }



.img-samba{
    height: 20em;
    margin-left: 18%;
    margin-top: 70%;
  }

  .img-letra{
    position: relative;
    margin-left: 32%;
    height: 9em;

  }

  